---
---

@import "{{ site.theme }}";

$bg-color-1: #00DDDF;
$bg-color-2: #16393e;

#header_wrap {
    background: $bg-color-1;
    background: -moz-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -webkit-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -ms-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -o-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: linear-gradient(to right, $bg-color-1, $bg-color-2);
}


hr {
    height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    background: -moz-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -webkit-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -ms-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: -o-linear-gradient(right, $bg-color-1, $bg-color-2);
    background: linear-gradient(to right, $bg-color-1, $bg-color-2);
}